<div class="row">
  <div class="col-md-6">
    <%= form_tag pet_messages_path(@pet) do %><br><br>

      <%= label_tag :message %> <br>
      <%= text_area_tag :message, "I may have found your lost pet.", class: "form-control"  %> <br><br>

      <%= hidden_field_tag "sender_email", current_user.email %>
      <%= hidden_field_tag "owner_email", @pet.user.email %>
      <%= hidden_field_tag "owner_phone", @pet.user.phone %>
      <br>
      <%= submit_tag "Send Email", class: "btn btn-primary" %>
      <br><br><br><br><br><br>
    <% end %>
  </div>
</div>
