<div class="display1">
  <h3>Filter:</h3>
</div>
<%= form_tag pets_search_path, method: :get  do %>
  <div class="form-group">
    <br>
    <%= select_tag 'search[lost]', options_for_select([['Lost', 'true'], ['Found', 'false']], params[:search][:lost]), prompt: 'Lost or Found', class: 'form-control' %>
    <br>

    <%= select_tag 'search[species]', options_for_select(Pet::TYPES, params[:search][:species]), prompt: 'Pet type', class: 'form-control' %>
    <br>

    <%= select_tag 'search[loc_lost]', options_for_select(Pet::LOCATIONS, params[:search][:loc_lost]), prompt: 'Location', class: 'form-control'%>
    <br>


    <%= select_tag 'search[gender]', options_for_select(Pet::GENDERS, params[:search][:gender]), prompt: 'Gender', class: 'form-control'%>
    <br>
    <%= select_tag 'search[age]', options_for_select(Pet::AGES, params[:search][:age]), prompt: 'Age', class: 'form-control'%>
    <br>

    <%= submit_tag 'Filter',  class: 'form-control filter' %>
  </div>
  <%end%>
</div>
