<%= form_for @pet do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <%= f.select :species, [
        ['Species'],
        ['Bird'],
        ['Cat'],
        ['Dog'],
        ['Reptile'],
        ['Other - Please Describe']] %>
  </div><br>

  <div class="form-group">
    <%= f.label :breed %><br>
    <%= f.text_field :breed %>
  </div><br>
    <div class="form-group">
    <%= f.select :color, [
        ['Pet Color'],
        ['Brown'],
        ['Black'],
        ['White'],
        ['Grey'],
        ['Multi'] ]  %>
  </div><br>

  <div class="form-group">
    <%= f.select :loc_lost, [
        ['Area Last Seen'],
        ['Downtown'],
        ['NE Portland'],
        ['NW Portand'],
        ['SE Portland'],
        ['SW Portland'],
        ['N Portland'],
        ['Beaverton'],
        ['Gresham'],
        ['Clackamas'],
        ['Tigard'],
        ['Tualatin'],
        ['Happy Valley'],
        ['Milwaukie'],
        ['Lake Oswego'],
        ['Hilsboro'],
        ['Aloha'],
        ['West Linn'],
        ['Oregon City'],
        ['Troutdale'],
        ['Wood Village'],
        ['Fairview'] ]  %>
   </div><br>

  <div class="form-group">
    <%= f.label :Lost? %>
    <%= f.radio_button :lost, "1" %>
  </div>

  <div class="form-group">
    <%= f.label :Found? %>
    <%= f.radio_button :lost, "0" %>
  </div><br>


  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :size => "54"  %><br>
  </div><br><br>

  <div class="form-group">
    <%= f.file_field :avatar %>
  </div>

<br><br>

  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
