<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= bootstrap_form_for(@pet) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="field">
        <%= f.select :species, [
            ['Dog'],
            ['Cat'],
            ['Bird'],
            ['Reptile'],
            ['Other - Please Describe']],
            label: "Please enter species"%>
      </div><br>

      <div class="field">
        <%= f.text_field :breed,
                         label: "Breed",
                         placeholder: "Please enter a breed" %>
      </div><br>
        <div class="field">
        <%= f.select :color, [
            ['Brown'],
            ['Black'],
            ['White'],
            ['Grey'],
            ['Multi'] ]  %>
      </div><br>

      <div class="field">
          <%= f.select :loc_lost, [
              ['Downtown'],
              ['NE Portland'],
              ['NW Portand'],
              ['SE Portland'],
              ['SW Portland'],
              ['N Portland'],
              ['Beaverton'],
              ['Gresham'],
              ['Clackamas'],
              ['Tigard'],
              ['Tualatin'],
              ['Happy Valley'],
              ['Milwaukie'],
              ['Lake Oswego'],
              ['Hilsboro'],
              ['Aloha'],
              ['West Linn'],
              ['Oregon City'],
              ['Troutdale'],
              ['Wood Village'],
              ['Fairview'] ],

              label: (@pet.lost ? "Area last seen in" : "Area pet found")%>
         </div><br>

      <%= f.hidden_field :lost %>

      <div class="field">
        <%= f.text_area :description, size: "54",
                                      label: "Description",
                                      placeholder: "Please enter a description of the animal"  %><br>
      </div><br><br>

      <%if @pet.avatar.present? %>
        <p><%= image_tag @pet.avatar.url(:thumb) %></p>
      <%else%>
          <%= image_tag("No_image_available.png", height: '15%', width: '15%') %>
      <%end%>
      <%= f.file_field :avatar,  label: "Add photo:" %>


       <br><br>

      <%= f.submit(:class => "btn btn-primary") %>
    <% end %>
  </div>
</div>
