<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= bootstrap_form_for(@pet) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="field">
        <%= f.select :species, options_for_select(Pet::TYPES, @pet.species),
            label: "Please enter type of pet" %>
      </div><br>

      <div class="field">
        <%= f.text_field :breed,
                         label: "Breed",
                         placeholder: "Please enter a breed" %>
      </div><br>

      <div class="field">
        <% Color.all.each do |color| %>
          <input id='pet_colors_<%= color.id %>' name='pet[color_ids][]' type='checkbox' value='<%= color.id %>'
            <%= if @pet.colors.include? color then 'checked=checked' end %>
          />
          <label for='pet_colors_<%= color.id %>'><%= color.name %></label>
          <br>
        <%end%>
      </div>

      <div class="field">
          <%= f.select :loc_lost, options_for_select(Pet::LOCATIONS, @pet.loc_lost),
          label: (@pet.lost ? "Area last seen in" : "Area pet found")%>
         </div><br>

      <%= f.hidden_field :lost %>

      <div class="field">
        <%= f.text_area :description, size: "54",
                                      label: "Description",
                                      placeholder: "Please enter a description of the animal"  %><br>
      </div>
      <br><br>
      <%if @pet.created_at.present?%>
        <%if @pet.avatar.present? %>
          <p>Current photo:</p>
          <p><%= image_tag @pet.avatar.url(:medium), class: "img-responsive" %></p>
        <%else%>
            <%= image_tag("No_image_available.png", height: '50%', width: '50%', class: "img-responsive")  %>
        <%end%>
      <%end%>
      <%= f.file_field :avatar, label: (@pet.created_at ? "Edit photo:" : "Add photo:") %>


      <br><br>

      <%= f.submit(:class => "btn btn-primary") %>
    <% end %>
  </div>
</div>
