<% if pet.avatar.present? %>
  <a href="/pets/<%= pet.id %>"><%= image_tag pet.avatar.url(:medium), class: "img-responsive" %></a>
<%else%>
  <a href="/pets/<%= pet.id %>"><%= image_tag("No_image_available.png", height: '300px', width: '300px') %></a>
<%end%>
<a href="/pets/<%= pet.id %>">
	<p>Species:  <%= pet.species %></p>
	<p><%= pet.lost ? 'Last seen at' : 'Found near' %>: <%= pet.loc_lost %></p>
	<p>Post created: <%= pet.created_at.strftime(" %B %d, %Y") %></p>
	<p>Description:  <%= pet.description %></p>
</a>