<%if pet.avatar.present?%>
  <%= link_to image_tag(pet.avatar.url(size), class: "img-responsive"), pet_path(pet) %>
<%else%>
  <%= link_to image_tag("No_image_available.png", height: dimension, width: dimension), pet_path(pet) %>
<%end%>
<p><%= link_to "Species: #{pet.species}", pet_path(pet) %></p>
<%owner = pet.user%>
<%if can? :show, owner%>
  <p>Owner: <%= link_to owner.email, user_path(owner) %></p>
<%end%>
<p>Post created: <%= pet.created_at.strftime(" %B %d, %Y") %></p>
<%if show_full%>
  <p><%= pet.lost ? 'Last seen at' : 'Found near' %>: <%= pet.loc_lost %></p>
  <p>Breed: <%= pet.breed %></p>
  <p>Gender: <%= pet.gender %></p>
  <p>Age: <%= pet.age%></p>
  <p>Description:  <%= pet.description %></p>
  <p>Colors:</p>
  <ul>
    <%pet.colors.each do |color|%>
      <li><%= color.name %></li>
    <%end%>
  </ul>
<%end%>
