<br>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="display1"><h1> Most recent lost pets :</h1></div>
        <% @lost.each do |pet|%>
          <br>
          <%if pet.avatar.present? %>
            <%=link_to image_tag(pet.avatar.url(:large), class: "img-responsive"),  pet_path(pet) %>
          <%else%>
            <%=link_to image_tag("No_image_available.png", height: '300px', width: '300px'),  pet_path(pet) %>
          <%end%>
            <p><%= link_to "Species:" + pet.species,  pet_path(pet) %> </p>
            <p>Last seen at:  <%= pet.loc_lost %> </p>
            <p>Post created: <%= pet.created_at.strftime(" %B %d, %Y")  %></p>
            <p>Description:  <%= pet.description %> </p>
          <%end%>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="display1"><h1> Most recent found pets :</h1></div>
        <% @found.each do |pet|%>
          <br>
          <%if pet.avatar.present? %>
            <%=link_to image_tag(pet.avatar.url(:large), class: "img-responsive"),  pet_path(pet) %>
          <%else%>
            <%=link_to image_tag("No_image_available.png", height: '300px', width: '300px'),  pet_path(pet) %>
          <%end%>
            <p><%= link_to "Species:" + pet.species,  pet_path(pet) %> </p>
            <p>Last seen at:  <%= pet.loc_lost %> </p>
            <p>Post created: <%= pet.created_at.strftime(" %B %d, %Y")  %></p>
            <p>Description:  <%= pet.description %> </p>
          <%end%>
      </div>
    </div>
    <br><br><br><br><br><br><br><br>
  </div>
</div>
