<br>
<div class="row">
  <div class="col-sm-6 col-lg-6">
          <div class="display1">  <h1> Most recent lost pets :</h1></div>
          <% @lost.each do |pet|%>
          <br>
            <%if pet.avatar.present? %>
                <a href="/pets/<%= pet.id %>"><%= image_tag pet.avatar.url(:medium) %>
            <%else%>
               <a href="/pets/<%= pet.id %>"><%= image_tag("No_image_available.png", height: '300px', width: '300px') %>
            <%end%>
            <a href="/pets/<%= pet.id %>"><p>Species:  <%= pet.species %> </p>
            <p>Last seen at:  <%= pet.loc_lost %> </p>
          <%end%>
        </div>
              <div class="col-sm-3 col-lg-6">
                <div class="display1"> <h1> Most recent found pets:</h1></div>
                <% @found.each do  |pet|%>
                    <br>
                    <%if pet.avatar.present? %>
                      <a href="/pets/<%= pet.id %>"><%= image_tag pet.avatar.url(:medium) %>
                    <%else%>
                      <a href="/pets/<%= pet.id %>"><%= image_tag("No_image_available.png", height: '300px', width: '300px') %>
                    <%end%>
                    <a href="/pets/<%= pet.id %>"><p>Species:  <%= pet.species %> </p>
                    <p>Found around:  <%= pet.loc_lost %> </p>
              <%end%>
            </div>
        </div>
    </div>


    <br><br><br><br><br><br><br><br>

    <p><%=link_to "Return to homepage", root_path %></p>
</div>
