<br><br>

<div class="row-fluid">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <br>
    <p>
      <%= link_to "Report a Lost Pet", new_pet_path(pet: { lost: true }), class: "btn btn-default test" %>
    </p>
    <br>
    <p>
      <%= link_to "Report a Found Pet", new_pet_path(pet: { lost: false }), class: "btn btn-default test" %>
    </p>
    <br>
    <p>
      <%= link_to 'Search Lost Pets', pets_search_path(search: { lost: true }), class: "btn btn-default test1" %>
    </p>
    <br>
    <p>
      <%= link_to 'Search Found Pets', pets_search_path(search: { lost: false}), class: "btn btn-default test1" %>
    </p>
    <br>
    <p>
      <%= link_to "View List of Pets", pets_path, class: "btn btn-default test2" %>
    </p>
    <br>
    <%if can? :index, User%>
      <p align='center'><%= link_to 'Users directory', users_path %></p>
    <%end%>
  </div>
</div>

<div class="row-fluid">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <br>
    <h1 class="green">Welcome to the pet finder!</h1>
    <p>
      Literally foursquare fashion axe, locavore letterpress mustache freegan American Apparel. Ennui retro paleo locavore, twee McSweeney's whatever. Sriracha American Apparel YOLO, fingerstache pug narwhal single-origin coffee dreamcatcher pork belly chillwave Godard locavore. Bitters small batch banh mi, ethnic distillery you probably haven't heard of them Schlitz aesthetic authentic. Tote bag vegan retro scenester.]
    </p>
    <br>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="display">
        Recently Lost Pets:
      </div>
      <%@lost.each do |pet|%>
        <br>
        <%= render pet,  size: :thumb, dimension: '100px', show_full: false %>
      <%end%>
      <br>
      <%if Pet.found.length > 6%>
        <%=link_to 'See more here', pets_path, class: "btn btn-primary"%>
      <%end%>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="display">
        Recently Found Pets:
      </div>
      <%@found.each do |pet|%>
        <br>
        <%= render pet,  size: :thumb, dimension: '100px', show_full: false %>
      <%end%>
      <br>
    <%if Pet.found.length > 6%>
      <%=link_to 'See more here', pets_path, class: "btn btn-primary"%>
    <%end%>
    </div>

  </div>
</div>

